[submodule "find-sec-bugs"]
	path = find-sec-bugs
	url = https://github.com/Ekrte/find-sec-bugs
[submodule "juliet-test-suite"]
	path = testcases/juliet-test-suite
	url = https://github.com/find-sec-bugs/juliet-test-suite
